<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">DVSAdmin</a>
      <!--<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <!-- <li class="nav-item" [routerLinkActive]='["link-active"]'> -->
            <!-- <a class="nav-link text-dark"  [routerLink]='["./login"]'>Login</a> -->
          <!-- </li> -->
          <!-- <li class="nav-item" [routerLinkActive]='["link-active"]'> -->
            <!-- <a class="nav-link text-dark" [routerLink]=''>Home</a> -->
          <!-- </li> -->
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link text-dark" (click)=logout() [routerLink]='["./login"]'>Logout</a>
          </li>
          <!-- <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="userData.isLoggedIn"> -->
            <!-- <a class="nav-link text-dark">Welcome <b>{{userData.firstName}}</b> </a> -->
          <!-- </li> -->
        </ul>
      </div>
    </div>
  </nav>
</header>
