<app-header></app-header>
<app-left-menu></app-left-menu>
<div id="main">
  <div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col s12">
      <div class="container">
        <div class="section">


          <!--card stats start-->
          <div id="card-stats" class="pt-0">
            <div class="row">
              <div class="col s12 m6 l6 xl3">
                <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text animate fadeLeft">
                  <div class="padding-4">
                    <div class="row">
                      <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">perm_identity</i>
                        <p>Driver</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text">{{TotalDriver}}</h5>
                        <!-- <p class="no-margin">New</p>
                        <p>1,12,900</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div><div class="col s12 m6 l6 xl3">
                <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text animate fadeLeft">
                  <div class="padding-4">
                    <div class="row">
                      <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">add_shopping_cart</i>
                        <p>Orders</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <h5 class="mb-0 white-text">{{TotalOrder}}</h5>
                        <!-- <p class="no-margin">New</p>
                        <p>2040</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l6 xl3">
                <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text animate fadeRight">
                  <div class="padding-4">
                    <div class="row">
                      <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">timeline</i>
                        <p>Trips</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <!-- <h5 class="mb-0 white-text">80</h5>
                        <p class="no-margin">New</p> -->
                        <p>{{TotalTrip}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 l6 xl3">
                <div class="card gradient-45deg-green-teal gradient-shadow min-height-100 white-text animate fadeRight">
                  <div class="padding-4">
                    <div class="row">
                      <div class="col s7 m7">
                        <i class="material-icons background-round mt-5">attach_money</i>
                        <p>Customer</p>
                      </div>
                      <div class="col s5 m5 right-align">
                        <!-- <h5 class="mb-0 white-text">890</h5>
                        <p class="no-margin">New</p> -->
                        <p>{{TotalCustomer}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--card stats end-->

 <!-- <app-googlemapploat></app-googlemapploat> -->
 <!-- <app-googlemapdirection></app-googlemapdirection> -->

        </div>

      </div>
      <div class="content-overlay"></div>
    </div>
  </div>
</div>


