<!-- <body> -->
  <!-- <app-nav-menu></app-nav-menu> -->
  <div class="container">
    <router-outlet></router-outlet>
    
  </div>
<!-- </body> -->

<!-- <footer class="page-footer footer footer-static footer-dark gradient-45deg-indigo-blue gradient-shadow navbar-border navbar-shadow"> -->
  <!-- <div class="footer-copyright"> -->
    <!-- <div class="container"><span>&copy; 2020<a href="#" target="_blank">Oms Driver</a> All rights reserved.</span><span class="right hide-on-small-only">Design and Developed by <a href="#">SB3 Inc</a></span></div> -->
  <!-- </div> -->
<!-- </footer> -->
<app-footer></app-footer>

