<title>DVS DRIVER</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- StyleSheet -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
<!-- Font Awosome -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<!-- </head>
<body> -->

<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main">
    <div class="row">
      <!-- <div class="content-wrapper-before blue-grey "></div> -->
      <div class="col s12">
        <div class="container">
          <div class="section">
 

              <!-- Driver Registration Form -->
  <div class="col s12 m12 l12">
      <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
            <h4 class="card-title"><b>Update Driver</b></h4>
                <form  #form="ngForm" class="col s12 m12 l12 EditDriver" style="font-size: 16px;" novalidate>

                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Login ID:</b> <input [disabled]="true" id="dloginid" type="text" class="form-control validate" name="dloginid" [(ngModel)]="dloginid" style="width: 40%;" required>
                        <!-- <label for="dlicence">Driver Login ID</label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Name: </b><input [disabled]="driverAdd" id="dname" type="text" class="form-control validate" name="dname" [(ngModel)]="dname" style="width: 40%;" maxlength="50" size="50" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Mobile: </b><input [disabled]="driverAdd" id="dmobile" type="text" class="form-control validate" name="dmobile" [(ngModel)]="dmobile" (keypress)="numberOnly($event)" pattern="[0-9-_.)()]{5,12}" style="width: 40%;" maxlength="20" size="20" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver License: </b><input [disabled]="driverAdd" id="dlicence" type="text" class="form-control validate" name="dlicence" [(ngModel)]="dlicence" style="width: 40%;" maxlength="50" size="50" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Email: </b><input [disabled]="driverAdd" id="demail" type="text" class="form-control validate" name="demail" [(ngModel)]="demail" style="width: 40%;" maxlength="50" size="50" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Address: </b><input [disabled]="driverAdd" id="daddres" type="text" class="form-control validate" name="daddres" [(ngModel)]="daddres" style="width: 40%;" maxlength="100" size="100" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>City: </b><input [disabled]="driverAdd" id="dcity" type="text" class="form-control validate" name="dcity" [(ngModel)]="dcity" style="width: 40%;" maxlength="50" size="50" required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Zip: </b><input [disabled]="driverAdd" id="dzip" type="text" class="form-control validate" name="dzip" [(ngModel)]="dzip" (keypress)="numberOnly($event)" pattern="[0-9-_.)()]{5,12}" style="width: 40%;" maxlength="8" size="8" required>
                    </div>
                </div>
                <div class="input-field col-4">
                    <b>Vehicle: </b>
                    <div class="form-group input-field">
                        <div class="form-group">
                        <select class="form-control" name="vehicle" id="vehicle" [(ngModel)]="vehicle" (change)="onChangeVehicle($event.target.value)" required>
                            <option *ngFor="let vehicle of vehicleInfoData" [value]="vehicle.vehicleID">{{vehicle.vehicleName}}</option>
                        </select>
                        <label  class="active" for="vehicle"></label> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12" style="size: 11px; color: red;">
                        {{info}}
                    </div>
                    <!-- <div class="card-panel teal lighten-2 col s5 m5 l5" *ngIf="driverAdd" >{{info}}</div> -->
                    <button [disabled]="driverAdd" class="btn waves-effect waves-light right" type="submit" name="action" (click)="updateDriver(dloginid, dname, dmobile, dlicence, demail, daddres, dcity, dzip)"><b>Save Driver</b>
                        <i class="material-icons right" style="color: #007bff; font-weight: bold;">send</i>
                    </button>
                    <a md-button class="btn right waves-effect waves-light" [routerLink]="['/driver']" style="color: #007bff; font-weight: bold;"><i class="material-icons left">keyboard_return</i>Back</a>
                </div>
            
                </form>
                
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
            

            
