<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main" class="main-div">
    <div class="row">
        <div class="content-wrapper-before blue-grey lighten-5"></div>
        <div class="col-sm-12">
		<div class="card">
                <div class="card-content p10"> 
            <div class="panel panel-default">
                <div class="panel-heading"><b>All Trips</b></div>
                <div class="panel-body responsive-table ">

                    <!-- <div class="filter-panel">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input type="date" class="form-control">
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="btn-container text-right">
                                                <a href="#" class="btn btn-primary">All</a>
                                                <a href="#" class="btn btn-default">In Progress</a>
                                                <a href="#" class="btn btn-default">Planned</a>
                                                <a href="#" class="btn btn-default">Completed</a>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                    <table id="example" class="table table-striped table-bordered all-trip" style="width:100%">
                        <thead>
                            <tr>
                                <th>Trip ID</th>
                                <th>Date</th>
                                <th>Name</th>
                                <th>Driver Name</th>
                                <th>No of Stops</th>
                                <th>Total Orders</th>
                                <th>Total Amount</th>
                                <th>Status</th>
                                <th>Delivery Summary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <pre> {{ tripInfoData | json }} </pre> -->
                            <tr
                                *ngFor="let oInfo of tripInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                <!-- <tr> -->
                                <td>{{ oInfo.tripId}}</td>
                                <td>{{ oInfo.tripDate}}</td>
                                <td><span style="cursor:pointer;color: rgb(72, 170, 228);"
                                        (click)="onEditTrip(oInfo.tripId);">{{ oInfo.tripName}}</span></td>
                                <!-- <td>{{ oInfo.tripName}}</td> -->
                                <td>{{ oInfo.driverName}}</td>
                                <td>{{ oInfo.noOfStop}}</td>
                                <td>{{ oInfo.totalOrder}}</td>
                                <td>{{ oInfo.orderAmount}}</td>
                                <td>
                                    <span *ngIf="oInfo.statusText =='Pending'" class="amber darken-4 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                    <span *ngIf="oInfo.statusText =='Completed'" class="green darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                    <span *ngIf="oInfo.statusText =='In-Progress'" class="indigo darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                    <span *ngIf="oInfo.statusText =='Start'" class="indigo darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                    <span *ngIf="oInfo.statusText =='Stop'" class="red darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                    <span *ngIf="oInfo.statusText =='Pause'" class="amber darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                    <span *ngIf="oInfo.statusText =='Restart'" class="green darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span>
                                </td>
                                <td class="action">
                                
                                    <a (click)="onViewSummery(oInfo.tripId);" class="pointer"
                                        style="width: 50px; "><i class="fa fa-eye" aria-hidden="true"></i></a>
                                </td>
                            </tr>

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                             <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>-->

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>-->

                            <!--<tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                             <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>-->

                            <!--<tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                             <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>-->

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr> -->

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-success">Completed</span></td>
                                            <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr> -->

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>-->

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td> 
                                        </tr>-->

                            <!-- <tr>
                                            <td>16</td>
                                            <td>09/22/2020</td>
                                            <td><a href="#">Tr123548721</a></td>
                                            <td>Mit</td>
                                            <td>4</td>
                                            <td>7</td>
                                            <td>$1,853.77</td>
                                            <td><span class="label label-warning">Pending</span></td>
                                            <td class="action">
                                                <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr> -->



                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
	</div>
    </div>
</div>

<jw-modal id="custom-modal-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary mb-2">
                <div class="card-header" style="background-color: lightgrey;">
                    <h3 class="card-title">Delivery Summary</h3>
                    <div style="text-align: right;"><a (click)="onCloseModel('custom-modal-1');" class="pointer"><i class="fa fa-window-close" aria-hidden="true"></i></a></div>
                    
                </div>
                
                
            </div>
            <div class="col-md-12">
                <div class="" *ngFor="let sInfo of summeryView">
                  
                  <div class="row floating-labels">
                    <div class="col-sm-12">
                      <div class="table-responsive mt-2">
                        <table id="example" class="table table-bordered  no-wrap font-16 dark-text">
                          <tbody>
                            <tr>
                              <td><b>Customer Name:
                                </b></td>
                              <td>{{sInfo.customerName}}</td>
                            </tr>
                            <tr>
                              <td><b>Address:
                                </b></td>
                              <td>{{sInfo.address}}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table *ngFor="let osInfo of sInfo.orders" class="table no-wrap font-16 dark-text">
                                        <tbody>
                                            <tr>
                                                <td><b>Order Id:
                                                </b></td>
                                              <td>{{osInfo.orderNo}}</td> 
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table class="table table-striped table-bordered" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>Product Code</th>
                                                                <th>Item Name</th>
                                                                <th>Order Quantity</th>
                                                                <th>Delivery Quantity</th>
                                                                <th>Extra Quantity</th>
                                                                <th>Return Quantity</th>
                                                                
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let osdiInfo of osInfo.items">
                                                                <!-- <tr> -->
                                                                <td>{{ osdiInfo.productCode}}</td>
                                                                <td>{{ osdiInfo.itemName}}</td>
                                                                <td>{{ osdiInfo.ordQty}}</td>
                                                                <td>{{ osdiInfo.delQty}}</td>
                                                                <td>{{ osdiInfo.extraQuantity}}</td>
                                                                <td>{{ osdiInfo.returnQuantity}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
           
        </div>
    </div>
  </jw-modal>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>