<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>

            <div id="main" class="main-div">
                <div class="row">
                    <div class="content-wrapper-before blue-grey lighten-5"></div>
                    <div class="col-sm-12">
					<div class="card mt-0">
                <div class="card-content p10">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>All Orders</b></div>
                            <div class="panel-body responsive-table">
                                <table id="example" class="table table-striped table-bordered order" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Orders Id</th>
                                            <th>Order Date</th>
                                            <th>Customer Name</th>
                                            <th>Address</th>
                                            <th style="width:150px">Distributor Name</th>
                                            <th style="width:110px">Zone</th>
                                            <th>Status</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <pre> {{ tripInfoData | json }} </pre> -->
                                        <tr *ngFor="let oInfo of orderInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                            <!-- <tr> -->
                                            <td ><span style="cursor:pointer;color: rgb(72, 170, 228);" (click)="onViewOrder(oInfo.orderId);">{{ oInfo.orderId}}</span></td>
                                            <!-- <td><span style="cursor:pointer;color: rgb(72, 170, 228);" (click)="onEditOrder(oInfo.id);">{{ oInfo.orderId}}</span></td> -->
                                            <!-- <td>{{ oInfo.orderId}}</td> -->
                                            <td>{{ oInfo.orderDate}}</td>
                                            <td>{{ oInfo.customerName}}</td> 
                                            <td>{{ oInfo.address}}</td>
                                            <td>{{ oInfo.distributorName}}</td>
                                            <td>{{ oInfo.zoneName}}</td>
                                            <td>
                                                <span *ngIf="oInfo.statusText ==1" class="green darken-1 btn-small">
                                                    Active
                                                </span>
                                                <span *ngIf="oInfo.statusText == 0" class="amber darken-4 btn-small">
                                                    InActive
                                                </span>
                                            </td>
                                            <td><span  class="green darken-1 btn-small">
                                                {{ oInfo.typeText }}
                                            </span></td>
                                            
                                            <td class="action">
                                                <a (click)="onViewOrder(oInfo.orderId)"><i class="fa fa-eye actBtn" aria-hidden="true"></i></a>
                                                <!-- <a (click)="onDeleteOrder(oInfo.id)"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                           
                        </div>
						 
                    </div>
                </div>
				</div>
                </div>
				
				<div class="row">
					<pagination-controls (pageChange)="p = $event"></pagination-controls>
				</div>
            </div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>