
.sm-floating-btn-custom{
    height: 30px !important;
    width: 30px;
}

.sm-floating-btn-custom i{
    line-height: 30px;
    font-size: 1.2rem !important;
}

.sidenav li a.active{box-shadow: none;}


.table-add-trip tbody tr td:nth-child(5){
    max-width: 180px;
}
.table-add-trip td, th{vertical-align: top;}

.wid-25{width: 30px !important;}

#users-list-datatable [type=checkbox]+span:not(.lever){
    padding-left: 20px;
}

#users-list-datatable td, table.bordered th{
    padding: 7px 10px!important;
    font-size: 13px;
}

table.table-fixed-scroll td, th{
    padding:5px 7px !important;
}

table.table-fixed-scroll .input-field input, select{
    font-size: 13px;
}

table.table-fixed-scroll .input-field input{
    height: 2.5rem;
    margin-bottom: 0;
}

table.table-fixed-scroll .input-field{
    margin-bottom: 5px;
}

td.summesummery-trip-ss{padding:5px 0 !important}
.p10{padding:10px !important}
tr.trip-summery td{text-align: center;
    color: #2A4DAC;
    font-size: 13px;
    /* padding: 0 !important; */
    line-height: normal;}
.add-trip .card-panel {padding:10px}
section.add-trip{position: relative;}
.add-trip .users-list-filter{position: fixed;   width: 78.2%; z-index: 99;}
.users-list-table{margin-top: 160px;}

.alfa label{font-size: 16px; color: #333;}
.caeate-trip-btn{
    padding: 0 10px !important;
    font-size: 13px;
    min-width: 102px;
}

/* Saheli @ CSS */
table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: content-box;
    font-size: 0.9rem;
}

.btn-small {
	line-height: 1rem !important;
    font-size: 0.75rem!important;
    font-weight: bold !important;
    padding: 5px;
    height: auto;
    box-shadow: none;
}

.dataTables_filter label { font-size: 0.75rem !important; }

.dataTables_filter label input[type=search]:not(.browser-default) {
	width: 70%;
	height: 25px;
	padding: 0 2.5%;
}

.dataTables_wrapper .dataTables_length select {
    display: inline-block;
    width: 55px;
    height: 25px;
    line-height: 10px !important;
}

ul.dtr-details li {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: #e4e4e4 solid 1px;
}


ul.dtr-details {
    margin: 0;
    padding: 0;
}

ul.dtr-details li:last-child {
	border-bottom: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role=row]>td:first-child:before { top: 7px; }

table.dataTable i.material-icons.dp48 { font-size: 16px !important; margin: 1px; }


table.dataTable .btn-small i.material-icons.dp48 {
	display: inline-block;
	font-size: 0.75rem!important;
	line-height: 1rem !important;
}


