<app-header></app-header>
<app-left-menu></app-left-menu>
<div id="main">
  <div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col s12">
      <div class="container">
        <form name="tempForm">
          <!-- users list start -->
          <section class="users-list-wrapper section add-trip">
            <div class="users-list-filter1">
              <div class="card-panel ">

                <div class="filter-sec mb-2">
                  <div class="col-grid width10 border-right-0">
                    <label> Trip Name</label>
                    <input type="text" id="TripName"  [value]="this.Trnum" class="FormControl" placeholder="Trip Name" disabled>
                  </div>
                  <div class="col-grid width10 border-right-0">
                    <label> Zone</label>
                    <select class="FormControl"  id="ZoneId" style="display: block;" disabled>
                      <option value="z0">Select Zone</option>
                      <option value="z{{z.id}}" *ngFor="let z of zoneData">{{z.zoneCode}}</option>
                    </select>
                  </div>
                  <div class="col-grid width15 border-right-0">
                    <label> Sales Man</label>
                    <select class="" class="FormControl" id="SalesmanId" style="display: block;" disabled>
                      <option value="s0">Select Salesman</option>
                      <option value="s{{s.userID}}" *ngFor="let s of salesmanData">{{s.name}}</option>
                    </select>
                  </div>
                  <div class="col-grid width10 border-right-0">
                    <label> Trip Date</label>
                    <input type="date" id="StartTime" class="FormControl" [(ngModel)]="tStartdate" style="display: block;" [ngModelOptions]="{standalone: true}" disabled>
                  </div>
                  <div class="col-grid border-right-0">
                    <label> Driver</label>
                    <select class="FormControl" name="driver" id="DriverID" style="display: block;" [(ngModel)]="SelectedDriver" disabled>
                      <option value="d0">Select Driver</option>
                      <option value="d{{d.driverId}}" *ngFor="let d of drivers">{{d.driverName}}</option>

                    </select>
                  </div>
                  <div class="col-grid border-right-0">
                    <label> Start Location</label>
                    <select class="FormControl" name="startlocation" #startLocation style="display: block;" id="StartLocationId" [(ngModel)]="SelectedStartLocation" disabled>

                      <option value="sl{{l.id}}" *ngFor="let l of locations">{{l.locationName}}</option>
                    </select>
                  </div>
                  <div class="col-grid">
                    <label> End Location</label>
                    <select class="FormControl" name="endlocation" #endLocation style="display: block;" id="EndLocation" [(ngModel)]="SelectedEndLocation" disabled>

                      <option value="el{{l.id}}" *ngFor="let l of locations">{{l.locationName}}</option>
                    </select>
                  </div>
              </div>

              <div class="filter-sec gridextra">
                <div class="col-grid">
                  <span class="btn-custom" style="cursor:pointer;" (click)="onDiscardChanges($event)">Discard Changes</span>
                        <span class="btn-custom" style="cursor:pointer;" (click)="onOptimizeRoute()">Optimize Route</span>
                        <span class="btn-custom" style="cursor:pointer;" (click)="onOptimizeRouteCreateTrip()">Optimize Route & Edit Trip </span>
                        <button class="btn btn-primary btn-custom" type="submit" (click)="onEditTrip()" >Edit Trip</button>
                </div>
                <div class="col-grid no-padding lime lighten-5">
                  <div class="trip-summery ">Vehicle Capacity:<br> {{ vehicleCapacity }} lbs</div> 
                </div>
                <div class="col-grid no-padding lime lighten-5">
                  <div class="trip-summery "> Total Stops:<br> {{ totalStops }}</div>
                </div> 
                 <div class="col-grid no-padding lime lighten-5">
                  <div class="trip-summery ">Weight (lbs):<br> {{ weight }} lbs</div>
                </div> 
                <div class="col-grid no-padding lime lighten-5">
                  <div class="trip-summery ">Total Cost:<br> ${{ totalCost }}</div>
                </div> 
              </div>  



                <!-- <table class="bordered table-fixed-scroll  ">
                  <tbody>
                    <tr>
                      <td>
                        <label> Trip Name</label>
                        <input type="text" id="TripName"  [value]="this.Trnum" class="FormControl" placeholder="Trip Name" disabled>
                      </td>
                      <td>
                        <label> Zone</label>
                        <select class="FormControl"  id="ZoneId" style="display: block;" disabled>
                          <option value="z0">Select Zone</option>
                          <option value="z{{z.id}}" *ngFor="let z of zoneData">{{z.zoneCode}}</option>
                        </select>
                      </td>
                      <td>
                        <label> Sales Man</label>
                        <select class="" class="FormControl" id="SalesmanId" style="display: block;" disabled>
                          <option value="s0">Select Salesman</option>
                          <option value="s{{s.userID}}" *ngFor="let s of salesmanData">{{s.name}}</option>
                        </select>
                      </td>
                      <td>
                        <label> Trip Date</label>
                        <input type="date" id="StartTime" class="FormControl" [(ngModel)]="tStartdate" style="display: block;" [ngModelOptions]="{standalone: true}" disabled>
                      </td>
                      <td>
                        <label> Driver</label>
                        <select class="FormControl" name="driver" id="DriverID" style="display: block;" [(ngModel)]="SelectedDriver" disabled>
                          <option value="d0">Select Driver</option>
                          <option value="d{{d.driverId}}" *ngFor="let d of drivers">{{d.driverName}}</option>

                        </select>
                      </td>
                      <td>
                        <label> Start Location</label>
                        <select class="FormControl" name="startlocation" #startLocation style="display: block;" id="StartLocationId" [(ngModel)]="SelectedStartLocation" disabled>

                          <option value="sl{{l.id}}" *ngFor="let l of locations">{{l.locationName}}</option>
                        </select>
                      </td>
                      <td>
                        <label> End Location</label>
                        <select class="FormControl" name="endlocation" #endLocation style="display: block;" id="EndLocation" [(ngModel)]="SelectedEndLocation" disabled>

                          <option value="el{{l.id}}" *ngFor="let l of locations">{{l.locationName}}</option>
                        </select>
                      </td>

                    </tr>
                    <tr>
                      <td colspan="3">
                        <span class="btn-custom" style="cursor:pointer;" (click)="onEditTrip()"> Edit Trip </span>
                      </td>
                      <td colspan="4" class="no-padding">
                        <table>
                          <tbody>
                            <tr class="trip-summery lime lighten-5">
                              <td></td>
                              <td>Vehicle Capacity:<br> {{ vehicleCapacity }} lbs</td>
                              <td>Total Stops:<br> {{ totalStops }}</td>
                              <td>Weight (lbs):<br> {{ weight }} lbs</td>
                              <td>Total Cost:<br> ${{ totalCost }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>

                  </tbody>
                </table> -->
              </div>
            </div>

            <div class="users-list-table1">
              <div class="card">
                <div class="card-content p10"> 
                  <!-- datatable start====================================== -->
                  <div class="responsive-table">
                    <table id="users-list-datatable" class="table table-add-trip bordered striped">
                      <thead>
                        <tr class="trip-summery blue lighten-5">
                          <th class="background-image-none center-align">
                            <label>
                              <input type="checkbox" disabled/>
                              <span></span>
                            </label>
                          </th>

                          <th>Delivery Charges</th>
                          <th>Stop</th>
                          <th>Customer Name</th>
                          <th>Address</th>
                          <th>Customer Note</th>
                          <!-- <th>Salesman Id</th> -->
                          <th colspan="5">
                            <table class="no-bordered">
                              <thead>
                                <tr>
                                  <th style="width: 50px;"></th>
                                  <th>Order ID</th>
                                  <th>Date</th>
                                  <th>#-(lbs)	</th>
                                  <th>Amount</th>
                                </tr>
                              </thead>
                            </table>
                            
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <pre> {{ orderData | json }} </pre> -->
                        <tr *ngFor="let o of orderData | paginate: {itemsPerPage:25,currentPage: p}; let i = index ;">
                          <td class="center-align contact-checkbox">
                           
                            <label class="checkbox-label">
                              <input type="checkbox" name="foo" *ngIf="o.customerName !==''" [(ngModel)]="o.isSelected" [ngModelOptions]="{standalone: true}" disabled/>
                              <span></span>
                            </label>
                          </td>
                          <td class="center-align contact-checkbox">
                            <label class="checkbox-label">

                              <input *ngIf="o.customerName !==''" type="checkbox" name="foo" disabled/>

                              <span><input type="text" class="wid-25" *ngIf="o.customerName !==''" name="dcharge"  value ="{{o.deliveryCharges}}" (change)="OnChangeDelevaryCharge($event, o.customerId)"/></span>
                            </label>
                          </td>
                          <td><input type="text" class="wid-25" id="{{ o.customerId }}" *ngIf="o.customerName !==''" value ="{{o.stopCount}}" (change)="OnChangePriority($event, o.customerId)"/></td>
                          <td>{{ o.customerName }}</td>
                          <td><span *ngIf="o.customerName !==''">{{ o.address }}</span></td>
                          <td><span><input type="text" *ngIf="o.customerName !==''" name="dcharge"  value ="{{o.customerNote}}" (change)="OnChangeCustomerNote($event, o.customerId)"/></span></td>
                          <!-- <td>{{ o.value.salesmanId }}</td> -->
                          <td colspan="5">


                            <table>
                              <tbody>
                                <tr *ngFor="let od of o.orders">
                                  <td class="center-align contact-checkbox" style="width: 50px;">
                                    <label class="checkbox-label">
                                      <input type="checkbox" id="{{ od.poNumber }}" value="{{ od.poNumber }}" [(ngModel)]="od.isSelected" [ngModelOptions]="{standalone: true}" disabled/>

                                      <span></span>
                                    </label>
                                  </td>
                                  <td>{{ od.poNumber }}</td>
                                  <td>{{ od.orderDate }}</td>
                                  <td>{{ od.lbs }}	</td>
                                  <td>${{ od.billAmount }}</td>
                                </tr>
                              </tbody>
                            </table>
                            
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </section>

        </form>
        <div class="card mt-0">
                <div class="card-content p10"> 
            <app-googlemapdirection [origin]= "origin" [destination] = "destination"
            [waypoints] = "waypoints" [markerOptions] = "markerOptions">
  
            </app-googlemapdirection>
            </div>
          </div>
      </div>
      <div class="content-overlay"></div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Please Wait. </p>  
</ngx-spinner>

