<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main">
    <div class="row">
      <!-- <div class="content-wrapper-before blue-grey "></div> -->
      <div class="col s12">
        <div class="container">
          <div class="section">
 

              <!-- Driver Registration Form -->
  <div class="col s12 m12 l12">
      <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
            <h4 class="card-title"><b>Add New Location</b></h4>
                <form  #form="ngForm" class="col s12 m12 l12" style="font-size: 16px;" novalidate>

                <div class="row">
                    <div class="input-field col s12">
                        <b>Location Name: </b><input [disabled]="locationAdd" id="LocationName" type="text" class="form-control validate" name="LocationName" [(ngModel)]="LocationName" style="width: 40%;"  maxlength="20" size="20" required>
                        <!-- <label for="dlicence">Driver Login ID</label> -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Location Address: </b><input [disabled]="locationAdd" id="LocationAddress" type="text" class="form-control validate" name="dname" [(ngModel)]="LocationAddress" style="width: 40%;"  maxlength="50" size="50" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12" style="size: 11px; color: red;">
                        {{info}}
                    </div>
                    <!-- <div class="card-panel teal lighten-2 col s5 m5 l5" *ngIf="locationAdd" >{{info}}</div> -->
                    <button [disabled]="locationAdd" class="btn waves-effect waves-light right" type="submit" name="action" (click)="onUpdateLocation(LocationName, LocationAddress)"><b>Save Location</b>
                        <i class="material-icons right" style="color: #007bff; font-weight: bold;">Save</i>
                    </button>
                    <a md-button class="btn right waves-effect waves-light" [routerLink]="['/dvssetting']" style="color: #007bff; font-weight: bold;"><i class="material-icons left">keyboard_return</i>Back</a>
                </div>
            
                </form>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
 </div>
</div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
            

            
