<agm-map [latitude]="lat" [longitude]="lng">
    <!-- <agm-direction 
      [origin]="origin" 
      [destination]="destination"
    >
    </agm-direction> -->
    <!-- <agm-direction *ngFor="let dir of dirs" [origin]="dir.origin" [destination]="dir.destination"
     [renderOptions]="dir.renderOptions" [markerOptions]="dir.markerOptions" [waypoints]="dir.waypoints">
    </agm-direction> -->
    <!-- <agm-direction
      [origin]="origin"
      [destination]="destination"
      [waypoints]="waypoints"
      [renderOptions]="renderOptions"
      (onResponse)="onResponse($event)">
      </agm-direction> -->
      <!-- <agm-direction
      [origin]="origin"
      [destination]="destination"
      [waypoints]="waypoints"
      [renderOptions]="renderOptions" [travelMode]="'DRIVING'">
      </agm-direction> -->
      <agm-direction [origin]="origin" [destination]="destination" 
        [waypoints]="waypoints" [travelMode]="'DRIVING'" (onResponse)="onResponse($event)" 
        [renderOptions]="renderOptions" [markerOptions] ="markerOptions" [provideRouteAlternatives]="true">
      </agm-direction>
  </agm-map>