
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- </head>
<body> -->

<app-header></app-header>
<app-left-menu></app-left-menu>

            <div id="main">
                <div class="row">
                    <div class="content-wrapper-before blue-grey lighten-5"></div>
                    <div class="col-sm-12">
					
					<div class="card">
                <div class="card-content p10"> 
				
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>All Salesman</b></div>
                            <div class="panel-body responsive-table">
                                <table id="example" class="table table-striped table-bordered salesman" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Salesman Code</th>
                                            <th>Salesman Name</th>
                                            <th>WH Company</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let smanInfo of salesmanInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                            
                                            <td>{{ smanInfo.userID}}</td>
                                            <td>{{ smanInfo.name}}</td>
                                            <td>{{ smanInfo.region}} </td>

                                            <td class="action">
                                                <a [routerLink]="['/salesman-view',smanInfo.srlNo]"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="row">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
                </div>
            </div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
