<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main">
    <div class="row">
      <!-- <div class="content-wrapper-before blue-grey "></div> -->
      <div class="col s12">
        <div class="container">
          <div class="section">
 

              <!-- Driver Registration Form -->
  <div class="col s12 m12 l12">
      <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
            <h4 class="card-title"><b>Add New Vehicle</b></h4>
                <form  #form="ngForm" class="col s12 m12 l12" style="font-size: 16px;" novalidate>

                <div class="row">
                    <div class="input-field col-4">
                        <b>Vehicle NO: </b><input [disabled]="vehicleAdd" id="vehicleNO" type="text" class="form-control validate" name="vehicleNO" [(ngModel)]="vehicleNO" style="width: 40%;"  maxlength="20" size="20" required>
                        <!-- <label for="dlicence">Driver Login ID</label> -->
                    </div>
               
                    <div class="input-field col-4">
                        <b>Vehicle Type: </b>
                        <div class="form-group input-field">
                            <div class="form-group">
                            <select class="form-control" name="vehicleType" id="vehicleType" [(ngModel)]="vehicleType" (change)="onChangeVehicleType($event.target.value)" required>
                                <option *ngFor="let vehicleType of vehicleTypeInfoData" [value]="vehicleType.typeID">{{vehicleType.typeName}}</option>
                            </select>
                            <label  class="active" for="vehicleType"></label> 
                            </div>
                        </div>
                    </div>
                    <div class="input-field col-4">
                        <b>Vehicle Name: </b><input [disabled]="vehicleAdd" id="vehicleName" type="text" class="form-control validate" name="vehicleName" [(ngModel)]="vehicleName" style="width: 40%;" maxlength="20" size="20" required>
                    </div>
                    <div class="input-field col-4">
                        <b>Vehicle Capacity: </b><input [disabled]="vehicleAdd" id="vehicleCapacity" type="text" class="form-control validate" name="vehicleCapacity" [(ngModel)]="vehicleCapacity" (keypress)="numberOnly($event)" pattern="[0-9-_.)()]{5,12}" style="width: 40%;" maxlength="50" size="50" required>
                    </div>
                    <div class="input-field col-4">
                        <b>IsActive: </b>
                        <div class="form-group input-field">
                            <div class="form-group">
                            <select class="form-control" name="status" id="isActive" [(ngModel)]="isActive" (change)="onChangeStatus($event.target.value)" required>
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                            <label  class="active" for="status"></label> 
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12" style="size: 11px; color: red;">
                        {{info}}
                    </div>
                    <div class="col-12" >
                    <!-- <div class="card-panel teal lighten-2 col s5 m5 l5" *ngIf="vehicleAdd" >{{info}}</div> -->
                    <button [disabled]="vehicleAdd" class="btn waves-effect waves-light right" type="submit" name="action" (click)="onVehicleEdit(vehicleNO, vehicleType, vehicleName, vehicleCapacity, isActive)"><b>Save Vehicle</b>
                        <i class="material-icons right" style="color: #007bff; font-weight: bold;">send</i>
                    </button>
                    <a md-button class="btn right waves-effect waves-light" [routerLink]="['/vehicle']" style="color: #007bff; font-weight: bold;"><i class="material-icons left">keyboard_return</i>Back</a>
                   </div>
                </div>           
                </form>
                
            </div>
        </div>
    </div>
</div>
</div>
</div>
 </div>
</div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
            

            
