<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main" class="main-div">
    <div class="row">
        <div class="content-wrapper-before blue-grey lighten-5"></div>
        <div class="col-sm-12">
        <div class="card">
        <div class="card-content p10"> 
            <div class="panel panel-default">
                <div class="panel-heading"><b>Trip Tracking</b></div>
                <div class="panel-body responsive-table">

                    <table id="example" class="table table-striped table-bordered trip-tracking" style="width:100%">
                        <thead>
                            <tr>
                                <th>Trip Name</th>
                                <th>Driver Name</th>
                                <th>Startt Date</th>
                                <th>Status</th>
                                <th>View</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <pre> {{ tripInfoData | json }} </pre> -->
                            <tr
                                *ngFor="let oInfo of tripInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                <td><span style="cursor:pointer;color: rgb(72, 170, 228);"
                                        (click)="onEditTrip(oInfo.tripId);">{{ oInfo.tripName}}</span></td>
                                <!-- <td>{{ oInfo.tripName}}</td> -->
                                <td>{{ oInfo.driverName}}</td>
                                <td>{{ oInfo.tripDate}}</td>
                                <td>
                                    <span class="indigo darken-1 btn-small" >
                                        {{ oInfo.statusText}}
                                    </span>
                                    <!-- <span *ngIf="oInfo.statusText =='Completed'" class="green darken-1 btn-small">
                                        {{ oInfo.statusText}}
                                    </span> -->
                                </td>
                                <td class="action">
                                                <!-- <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-trash" aria-hidden="true"></i></a> -->
                                                <span class="green darken-1 btn-small" (click)="onViewTripTracking(oInfo.tripId);">
                                                    View
                                                </span>
                                            </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
