<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main" class="main-div">
    <div class="row">
        <div class="content-wrapper-before blue-grey lighten-5"></div>
        <div class="col-sm-12">
            <div class="card">
            <div class="card-content p10"> 
            <div class="panel panel-default">
                <div class="panel-heading">All Vehicle <a class="mb-2 btn waves-effect waves-light gradient-45deg-indigo-blue  right" style="color:white" (click)="onAddVehicle();">Add Vehicle</a></div>
                <div class="panel-body responsive-table">

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Vehicle NO</th>
                                <th>Vehicle Type</th>
                                <th>Vehicle Name</th>
                                <th>Vehicle Capacity</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <pre> {{ tripInfoData | json }} </pre> -->
                            <tr
                                *ngFor="let vInfo of vehicleInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                <td><a [routerLink]="['/view-vehicle',vInfo.vehicleID]">{{ vInfo.vehicleNO}}</a></td>
                                <!-- <td>{{ oInfo.tripName}}</td> -->
                                <td>{{ vInfo.vehicleTypeName}}</td>
                                <td>{{ vInfo.vehicleName}}</td>
                                <td>{{ vInfo.vehicleCapacity}}</td>
                                <td>
                                    <span *ngIf="vInfo.isActive ==false" class="amber darken-1 btn-small" >
                                        InActive
                                    </span>
                                    <span *ngIf="vInfo.isActive ==true" class="green darken-1 btn-small">
                                        Active
                                    </span>
                                </td>
                                <td class="action">
                                    <a [routerLink]="['/view-vehicle',vInfo.vehicleID]"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;
                                    <a [routerLink]="['/edit-vehicle',vInfo.vehicleID]"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;
                                    <a href="/vehicle" (click)="removeVehicle(vInfo.vehicleID)"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                                </td>
                            </tr>

                        </tbody>

                    </table>
                </div>
                <div class="row">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>
