<app-header></app-header>
<app-left-menu></app-left-menu>

 <!-- BEGIN: Page Main-->
 <div id="main">
    <div class="row">
      <div class="content-wrapper-before blue-grey lighten-5"></div>
      <div class="col s12">
        <div class="container">
          <div class="section">
 

            <!--card stats start-->
 <div id="card-stats" class="pt-0">
  <div class="row">

     <div class="col s12 m12">
       <h5 class="header">Trips Tracking</h5>
       <div class="card subscriber-list-card animate fadeRight padding-3">
          <div class="row teal accent-1 border-radius-4 mb-2 padding-2">
              <div class="col s12 m4 users-view-timeline">
                <h6 class="indigo-text m-0">Trip Name : <span> {{TripName}}</span></h6>
              </div>
              <div class="col s12 m4 users-view-timeline">
                <h6 class="indigo-text m-0">Trip Status : <span>{{StartDate}}</span></h6>
              </div>
              <div class="col s12 m4 users-view-timeline">
                <h6 class="indigo-text m-0">Driver Name :  <span>{{DriverName}}</span></h6>
              </div>
          </div>
          <div class="row">
              <ul id="task-card" class="collection">
                  
                  <li  *ngFor="let tptInfo of tripTrackingDetailInfoData"class="collection-item dismissable">
                     <label for="task3">
                      <div class="row">
                        <div class="col-2">
                        <i class="material-icons left">subdirectory_arrow_right</i>
                        <span class="chip amber darken-4 text-white pl-1 pr-1">{{ tptInfo.stopNo }}:</span> 
                      </div> 
                      <div class="col-1">
                        <span *ngIf="tptInfo.statusText ==='Pending'" class="chip lighten-5 red red-text">{{ tptInfo.statusText }}</span> 
                        <span *ngIf="tptInfo.statusText ==='Delivered'" class="chip lighten-1 green white-text">{{ tptInfo.statusText }}</span>
                        </div> 
                        <div class="col-9">
                          <span>: Customer Name: {{ tptInfo.customerName }}, Address: {{ tptInfo.customerAddress }}</span>
                      </div>
                      </div>
                     </label>
                  </li>
                  
                  <!-- <li class="collection-item dismissable">
                     <label for="task3">
                        <i class="material-icons left">subdirectory_arrow_right</i>
                        <span class="chip amber darken-4 text-white pl-1 pr-1">Stop 2 (R2):</span> <span class="chip lighten-5 green green-text">Delivered</span> : 394 E 18TH STREET, NEW JERSEY, PATERSON, 07524
                     </label>
                  </li>
                  
                  <li class="collection-item dismissable">
                     <label for="task3">
                        <i class="material-icons left">subdirectory_arrow_right</i>
                        <span class="chip amber darken-4 text-white pl-1 pr-1">Stop 3 (R3):</span> <span class="chip lighten-5 green green-text">Delivered</span> : 444 20TH AVE, NEW JERSEY, PATERSON, 07513
                     </label>
                  </li> -->
                  
              </ul>
          </div>
       </div>

       
  </div>
</div>
<div class="row">
    <a md-button class="btn right waves-effect waves-light" [routerLink]="['/trip-tracking']" style="color: #007bff; font-weight: bold;"><i class="material-icons left">keyboard_return</i>Back</a>
</div>
<!--card stats end-->


 
</div>


<div id="card" class="">
  <div class="row">
      <div class="col s12">
          <div id="map"></div>
      </div>
  </div>
</div>

        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">Please Wait. </p>  
</ngx-spinner>