

<app-header></app-header>
<app-left-menu></app-left-menu>
 <!-- BEGIN: Page Main-->
 <div id="main">
    <div class="row">
      <div class="content-wrapper-before blue-grey lighten-5"></div>
      <div class="col s12">
        <div class="container">
          <div class="section section section-data-tables">
 


<!-- Page Length Options -->
<div class="row">
  <div class="col s12 m12 l12">
    <div id="Form-advance" class="card card card-default scrollspy">
      <div class="card-content">
        <h4 class="card-title">Edit Zone</h4>
        <form [formGroup]="editZoneForm" (ngSubmit)="onSubmit()"> 
          <div class="row">
            <div class="col m6 s12 form-group">
              <label for="ZoneName">Zone Name *</label>
              <input id="ZoneName" type="text" formControlName="ZoneName" class="form-control" tabindex="1" autofocus    
              [ngClass]="{ 'is-invalid': submitted && editZoneForm.ZoneName.errors }" >
              <div *ngIf="submitted && editZoneFormControl.ZoneName.errors" class="invalid-feedback">    
                <div *ngIf="editZoneFormControl.ZoneName.errors.required">ZoneName is required</div>    
              </div> 
            </div>
            <div class="col m6 s12 form-group">
              <label for="ZoneCode">Zone Code *</label>
              <input id="ZoneCode" type="text" formControlName="ZoneCode" class="form-control" tabindex="1" autofocus    
              [ngClass]="{ 'is-invalid': submitted && editZoneForm.ZoneCode.errors }" disabled >
              <div *ngIf="submitted && editZoneFormControl.ZoneCode.errors" class="invalid-feedback">    
                <div *ngIf="editZoneFormControl.ZoneCode.errors.required">ZoneCode is required</div>    
              </div> 
            </div>
            <div class="col m4 s12 form-group">
              <label> Status</label>
              <select class="FormControl" #zonetatus style="display: block;" formControlName="IsActive" (change)="setZonetatus(zonetatus.value)">
                  <option value="true">Active</option>
                  <option value="false">Inactive</option>
              </select>
              
          </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary">    
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
            Save    
          </button> 
      
          <!-- <div class="row">
              <div class="input-field col s12">
                <a (click)="onSaveZone();" class="btn cyan waves-effect waves-light right" >Save</a>
              </div>
          </div> -->
        </form>
      </div>
    </div>
   </div>
  </div>

</div>

        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </div>
  <!-- END: Page Main-->

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
