<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>
            <div id="main" class="main-div">
                <div class="row">
                    <div class="content-wrapper-before blue-grey lighten-5"></div>
                    <div class="col-sm-12">
					<div class="card mt-0">
                <div class="card-content p10">
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>All Customers</b></div>
                            <div class="panel-body responsive-table">

                             <table id="example" class="table table-striped table-bordered customer" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Customers Name</th>
                                            <th>Customer Id</th>
                                            <th>Mobile No</th>
                                            <th>Address</th>
                                            <!-- <th>Status</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        <tr *ngFor="let cInfo of customerInfoData | paginate: {itemsPerPage:25,currentPage: p}; let i = index ;">
                                            <!-- <tr> -->
                                            <td>{{ cInfo.name}}</td>
                                            <td>{{ cInfo.userID}}</td>
                                            <td>{{ cInfo.contactNo}}</td>
                                            <td>{{ cInfo.address}}</td>
                                            <!-- <td>
                                                <span *ngIf="cInfo.statusText =='Pending'" class="label label-warning">
                                                    {{ cInfo.statusText}}
                                                </span>
                                                <span *ngIf="cInfo.statusText =='Completed'" class="label label-success">
                                                    {{ cInfo.statusText}}
                                                </span>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="row">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
                </div>
            </div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>