<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>
<div id="main" class="main-div">
    <div class="row">
        <div class="content-wrapper-before blue-grey lighten-5"></div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-content p10">
                    <div class="panel panel-default">
                        <div class="panel-heading"><b>DVS Invoices</b></div>
                        <div class="panel-body">
                            <div class="filter-panel">
                                <div class="row">
                                    <div class="col-sm-2">
                                        <p>Start Date : </p><input type="date" class="form-control"
                                            [(ngModel)]="StartDate">
                                    </div>
                                    <div class="col-sm-2">
                                        <p>End Date : </p><input type="date" class="form-control" [(ngModel)]="ToDate">
                                    </div>
                                    <div class="col-sm-2">
                                        <p>Invoice No : </p><input type="text" class="form-control"
                                            [(ngModel)]="InvoiceNo">
                                    </div>
                                    <div class="col-sm-2">
                                        <p>Driver: </p><input type="text" class="form-control" [(ngModel)]="DriverID">
                                    </div>
                                    <div class="col-sm-2">
                                        <p>Status : </p><select class="form-control" [(ngModel)]="status">
                                            <option value="0">All</option>
                                            <option value="1">Sent to Office</option>
                                            <option value="3">Approved</option>
                                            <option value="4">Rejected</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-12 btnconnf">
                                        <button mat-button class="btn btn-dark"
                                            style="background-color:rgb(115, 178, 221); color: white; margin-right: 10px;"
                                            (click)="search()">Search</button>&nbsp;
                                        <button mat-button class="btn btn-dark"
                                            style="background-color:rgb(228, 35, 67); color: white; margin-right: 10px;"
                                            (click)="reset()">Reset</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">&nbsp;&nbsp;</div>
<div class="responsive-table">
                            <table id="example" class="table table-striped table-bordered" style="width:100%" #example>
                                <thead>
                                    <tr>
                                        <th>Customer Code</th>
                                        <th>Customer Name</th>
                                        <th>Invoice #</th>
                                        <th>Invoice View</th>
                                        <th>Driver #</th>
                                        <th>Driver Name</th>
                                        <th>Sign</th>
                                        <th>Signatory</th>
                                        <th>Status</th>
                                        <th>Date</th>
                                        <th>Quality Check</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let arinv of DVSInvoiceList | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;"
                                        id="content">
                                        <td>{{arinv.customerId}}</td>
                                        <td>{{arinv.name}}</td>
                                        <td>{{arinv.invoiceNo}}</td>
                                        <td><a target="_blank" href="{{arinv.invoicePdf}}">View</a></td>
                                        <td>{{arinv.driverId}}</td>
                                        <td>{{arinv.driverName}}</td>
                                        <td>{{arinv.signatoryName}}</td>
                                        <td><a target="_blank" href="{{arinv.signImage}}">View</a></td>
                                        <td>{{arinv.status}}</td>
                                        <td>{{arinv.uploadDate}}</td>
                                        <td class="action">
                                            <a *ngIf="arinv.status==='Sent to Office' || arinv.status==='Approved' || arinv.status==='Rejected'"
                                                aria-hidden="true" style="width: 50px;"
                                                (click)="InvoiceApproval(arinv.invoiceNo)">
                                                <i class="fa fa-check pointer" style="color: rgb(123, 230, 123);"></i>
                                            </a>&nbsp;

                                            <a *ngIf="arinv.status==='Sent to Office' || arinv.status==='Approved' || arinv.status==='Rejected'"
                                                (click)="openModal('custom-modal-1',arinv.invoiceNo)"
                                                class="invoice-action-edit" style="width: 50px; ">
                                                <i class="fa fa-window-close pointer"
                                                    style="color: rgb(231, 19, 19);"></i>
                                            </a>
                                        </td>
                                        <td class="action">
                                            <a (click)="openInvoiceInfoForEdit('custom-modal-2', arinv.invoiceNo , arinv.customerId, arinv.name, arinv.driverId, arinv.driverName, arinv.signatoryName)"
                                            aria-hidden="true" style="width: 50px;">
                                                <i class="fa fa-edit"></i>
                                            </a>&nbsp;
                                            <a (click)="openInvoiceStatusHistory('custom-modal-3', arinv.invoiceNo , arinv.customerId, arinv.name)"
                                                class="invoice-action-view " aria-hidden="true" style="width: 50px;">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="row">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<jw-modal id="custom-modal-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary mb-2">
                <div class="card-header" style="background-color: lightgrey;">
                    <h3 class="card-title">Reject Invoice</h3>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card-body">
                    <h3> Invoice Number : {{InvNumber}} </h3>
                    <div class="row floating-labels mt-5">
                        <div class="col-sm-12">
                            <div class="form-group  mb-5 focused">
                                <input #box (keypress)="checkComment($event)" type="text" [(ngModel)]="commentText"
                                    class="form-control" id="RejectReason" required>
                                <span class="bar"></span>
                                <label for="RejectReason">Reject reason / comment</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-right">
                <div class="col s12 m12" style="size: 11px; color: red;">
                    {{info}}
                </div>
                <div class="col s12 m12" style="size: 11px; color: green; font-weight: bold;">
                    {{successMsg}}
                </div>
                <button mat-button [disabled]="invoiceRejected" (click)="RejectInvoice()"
                    style="background-color:lightcoral; color: white; margin-right: 10px;">Reject</button>
                <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-1');"
                    style="background-color:rgb(95, 93, 93);">Close</button>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="custom-modal-2">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header" style="background-color: lightgrey;">
                    <h3 class="card-title">Edit Invoice Info</h3>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card-body">
                    <h3>Invoice Number : {{InvNumberEdit}} </h3>
                    <p>Customer ID : {{customer_id}} , Customer Name : {{customer_name}}</p>
                    <p>Driver ID :{{driver_id}} , Driver Name : {{driver_name}}</p>
                    <p>Signatory Name : {{signatory_name}} , Invoice Comment : {{invoice_comment}}</p>

                    <div class="row  mt-5">
                        <div class="col-sm-6">
                            <div class="form-group  mb-3">
                                <label for="InvNo">New Invoice Number</label>
                                <input #box (keypress)="checkInvNumberEdit($event)" type="text"
                                    [(ngModel)]="NewInvNumberEdit" class="form-control" id="InvNo" required>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group  mb-3">
                                <label for="InvCmt">Invoice Comment</label>
                                <input #box type="text" [(ngModel)]="InvCommentEdit" class="form-control" id="InvCmt"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer text-right">
                <div class="col s12 m12" style="size: 11px; color: red;">
                    {{infoEd}}
                </div>
                <div class="col s12 m12" style="size: 11px; color: green; font-weight: bold;">
                    {{successMsgEd}}
                </div>
                <button mat-button [disabled]="invoiceEdit" (click)="EditInvoiceSave()"
                    style="background-color:#03a9f4; color: white; margin-right: 10px;">Edit Invoice</button>
                <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-2');"
                    style="background-color:rgb(95, 93, 93);">Close</button>
            </div>
        </div>
    </div>

</jw-modal>

<jw-modal id="custom-modal-3">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card card-primary">
                <div class="card-header" style="background-color: lightgrey;">
                    <h3 class="card-title">Invoice Status Info</h3>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card-body">
                    <h3>Invoice Number : {{SInvNumberEdit}} </h3>
                    <p>Customer ID : {{Scustomer_id}} , Customer Name : {{Scustomer_name}}</p>
                    <table id="example" class="table table-striped table-bordered" style="width:100%" #example>
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Created Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let invlog of DVSInvoiceStatusLog | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;"
                                id="content">
                                <td>{{invlog.status}}</td>
                                <td>{{invlog.updateDate}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="card-footer text-right">
                <button mat-button class="btn btn-dark" (click)="closeModal('custom-modal-3');"
                    style="background-color:rgb(95, 93, 93);">Close</button>
            </div>
        </div>
    </div>

</jw-modal>