

<!-- </head>
<body> -->

    <app-header></app-header>
    <app-left-menu></app-left-menu>
    
    <div id="main">
        <div class="row">
          
    
                  <!-- Driver Registration Form -->
      <div class="col s12 m12 l12 mt-3">
          <div id="Form-advance" >
            <div class="panel panel-default">
                <div class="panel-heading"><b>Add New Driver</b></div>
                    
    <div class="panel-body">
    <form  #form="ngForm" class="" style="font-size: 16px;" novalidate>
                    <div class="row">
    
                        <div class="input-field col-4">
                            <b>Driver Login ID: </b><input [disabled]="driverAdd" id="dloginid" type="text" class="form-control validate" name="dloginid" [(ngModel)]="dloginid"   maxlength="20" size="20" required>
                            <!-- <label for="dlicence">Driver Login ID</label> -->
                        </div>
                    
                        <div class="input-field col-4">
                            <b>Driver Name: </b><input [disabled]="driverAdd" id="dname" type="text" class="form-control validate" name="dname" [(ngModel)]="dname"   maxlength="50" size="50" required>
                        </div>
                    
                        <div class="input-field col-4">
                            <b>Mobile: </b><input [disabled]="driverAdd" id="dmobile" type="text" class="form-control validate" name="dmobile" [(ngModel)]="dmobile" (keypress)="numberOnly($event)" pattern="[0-9-_.)()]{5,12}"  maxlength="20" size="20" required>
                        </div>
                    
                        <div class="input-field col-4">
                            <b>Driver License: </b><input [disabled]="driverAdd" id="dlicence" type="text" class="form-control validate" name="dlicence" [(ngModel)]="dlicence"  maxlength="50" size="50" required>
                        </div>
                   
                        <div class="input-field col-4">
                            <b>Driver Email: </b><input [disabled]="driverAdd" id="demail" type="text" class="form-control validate" name="demail" [(ngModel)]="demail"  maxlength="50" size="50" required>
                        </div>
                   
                        <div class="input-field col-4">
                            <b>Driver Address: </b><input [disabled]="driverAdd" id="daddres" type="text" class="form-control validate" name="daddres" [(ngModel)]="daddres"  maxlength="100" size="100" required>
                        </div>
                    
                        <div class="input-field col-4">
                            <b>City: </b><input [disabled]="driverAdd" id="dcity" type="text" class="form-control validate" name="dcity" [(ngModel)]="dcity"  maxlength="50" size="50" required>
                        </div>
                    
                        <div class="input-field col-4">
                            <b>Zip: </b><input [disabled]="driverAdd" id="dzip" type="text" class="form-control validate" name="dzip" [(ngModel)]="dzip" (keypress)="numberOnly($event)" pattern="[0-9-_.)()]{5,12}"  min="0" max="99999999" maxlength="8" size="8" required>
                        </div>
                        <div class="input-field col-4">
                            <b>Vehicle: </b>
                            <div class="form-group input-field">
                                <div class="form-group">
                                <select class="form-control" name="vehicle" id="vehicle" [(ngModel)]="vehicle" (change)="onChangeVehicle($event.target.value)" required>
                                    <option *ngFor="let vehicle of vehicleInfoData" [value]="vehicle.vehicleID">{{vehicle.vehicleName}}</option>
                                </select>
                                <label  class="active" for="vehicle"></label> 
                                </div>
                            </div>
                        </div>
                        <div class="col-12" style="size: 11px; color: red;">
                            {{info}}
                        </div>
                        <div class="col-12" >
                        <!-- <div class="card-panel teal lighten-2 col s5 m5 l5" *ngIf="driverAdd" >{{info}}</div> -->
                        <button [disabled]="driverAdd" class="btn waves-effect gradient-45deg-indigo-blue waves-light right"  type="submit" name="action" (click)="newDriver(dloginid, dname, dmobile, dlicence, demail, daddres, dcity, dzip)"><b style="color:#fff">Save Driver</b>
                            <i class="material-icons right" style="color: #fff; font-weight: bold;">send</i>
                        </button>
                        <a md-button class="btn right waves-effect waves-light" [routerLink]="['/driver']" style="color: #007bff; font-weight: bold; margin-right:10px"><i class="material-icons left">keyboard_return</i>Back</a>
                        </div>
                    </div>
                    </form>
                </div>
                </div>
                    
                    
                
            </div>
        </div>
    </div>
    </div>
    
                <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                    <p style="color: white">Please Wait. </p>  
                </ngx-spinner>
                
    
                
    