

<app-header></app-header>
<app-left-menu></app-left-menu>
 <!-- BEGIN: Page Main-->
 <div id="main">
    <div class="row">
      <div class="content-wrapper-before blue-grey lighten-5"></div>
      <div class="col s12">
        <div class="container">
          <div class="section">
 

            <!--card stats start-->
 
<!--card stats end-->


 <div class="row">
    
    
    
    <div class="col s12">
      <div id="cards-extended">
        <div class="card">
          <div class="card-content orderDetails">
            <h4>Order Details</h4>
            <div class="divider mt-2 mb-2"></div>
            
                    <div class="row">
                      <div class="col-3 s6 m3">
                        <h6 class="m-0">Order Id</h6>
                      </div>
                      <div class="col-9 s6 m9">
                        <p>{{orderDetail.orderId}}</p>
                      </div>
                    </div>
                    
                    <div class="divider mt-1 mb-1"></div>
                    
                    <div class="row">
                      <div class="col-3 s6 m3">
                        <h6 class="m-0">Order Status</h6>
                      </div>
                      <div class="col-9 s6 m9">
                        <p>{{orderDetail.orderStatusName}}</p>
                      </div>
                    </div>
                    
                    <div class="divider mt-1 mb-1"></div>
                    
                    <div class="row">
                      <div class="col-3 s6 m3">
                        <h6 class="m-0">Customer Name</h6>
                      </div>
                      <div class="col-9 s6 m9">
                        <p>{{orderDetail.customerName}}</p>
                      </div>
                    </div>
                    
                    <div class="divider mt-1 mb-1"></div>
                    
                    <div class="row">
                      <div class="col-3 s6 m3">
                        <h6 class="m-0">Customer Address</h6>
                      </div>
                      <div class="col-9 s6 m9">
                        <p>{{orderDetail.address}}</p>
                      </div>
                    </div>
                    
                    <div class="divider mt-1 mb-1"></div>
                    
                    <div class="row">
                      <div class="col-3 s6 m3">
                        <h6 class="m-0">Order Date</h6>
                      </div>
                      <div class="col-9 s6 m9">
                        <p>{{orderDetail.orderDate}}</p>
                      </div>
                    </div>
                    
                    <div class="divider mt-1 mb-1"></div>
                    
                    <div class="row">
                      <div class="col-3 s6 m3">
                        <h6 class="m-0">Price</h6>
                      </div>
                      <div class="col-9 s6 m9">
                        <p>{{orderDetail.billAmount}}</p>
                      </div>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>  
    
   <div class="row">
      <div class="col s12 m12 l12">
        <div id="button-trigger" class="card card card-default scrollspy">
          <div class="card-content">
            <h4>All Items</h4>
            <div class="row">
              <div class="col s12 responsive-table">
                <table  class="display mb-4 bordered">
                  <thead>
                    <tr>
                      <th>Item Name</th>
                      <th>Weight</th>
                      <th>Price</th>
                      <th>Qty Ordered</th>
                      <th>Qty Delivered</th>
                      <th>Qty Return</th>
                      <th>Extra Qty</th>
                      <th>Type</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let itemInfo of orderDetail.detailItems | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                      <td>{{itemInfo.itemName}}</td>
                      <td>{{itemInfo.grossWeight}}</td>
                      <td>${{itemInfo.actualPrice}}</td>
                      <td>{{itemInfo.ordQty}}</td>
                      <td></td>
                      <td></td>
                      <th></th>
                      <th>{{itemInfo.uom}}</th>
                    </tr>
                    <!-- <tr>
                      <td>ACIDO BORICO 4 OZ</td>
                      <td>100</td>
                      <td>$184</td>
                      <td>7</td>
                      <td></td>
                      <td></td>
                      <th></th>
                      <th>Unit</th>
                    </tr> -->
                  </tbody>
                  <!--<tfoot>
                    <tr>
                      <th>Item Name</th>
                      <th>Weight</th>
                      <th>Price</th>
                      <th>Qty Ordered</th>
                      <th>Qty Delivered</th>
                      <th>Qty Return</th>
                      <th>Extra Qty</th>
                      <th>Type</th>
                    </tr>
                  </tfoot>-->
                </table>
              </div>
              
            </div>
			
			<div class="row">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>

 </div>
</div>

        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  <!-- END: Page Main-->

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
