<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-blue">
      <div class="nav-wrapper">
        <div class="header-search-wrapper hide-on-med-and-down">
        </div>
        <ul class="navbar-list right" style="margin-right: 20px;">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="waves-effect waves-block waves-light profile-button" (click)=logout() [routerLink]='["../login"]'>Logout</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

