<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>

            <div id="main" class="main-div">
                <div class="row">
                    <div class="content-wrapper-before blue-grey lighten-5"></div>
                    <div class="col-sm-12">
					
					<div class="card">
                <div class="card-content p10"> 
				
                        <div class="panel panel-default">
                            <div class="panel-heading">All Vehicle Types <a class="mb-2 btn waves-effect waves-light gradient-45deg-indigo-blue  right" style="color:white" (click)="onAddVehicalType();">Add Vehicle Type</a></div>
                            <div class="panel-body">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Vehical Type</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <pre> {{ tripInfoData | json }} </pre> -->
                                        <tr *ngFor="let vtInfo of vehicalTypeInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                            <!-- <tr> -->
                                            <td>{{ vtInfo.typeName}}</td>
                                            <td>
                                                <span *ngIf="vtInfo.isActive == false" class="amber darken-4 btn-small">
                                                    InActive
                                                </span>
                                                <span *ngIf="vtInfo.isActive == true" class="green darken-1 btn-small">
                                                   Active
                                                </span>
                                            </td>
                                            <td class="action">
                                                <a (click)="onTaggleActive(vtInfo.typeID)"><i class="fa fa-remove" aria-hidden="true"></i></a>
                                                <a (click)="onEditVehicleType(vtInfo.typeID)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                <a (click)="onDeleteVehicleType(vtInfo.typeID)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="row">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
                </div>
            </div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>

