<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- </head>
<body> -->

<app-header></app-header>
<app-left-menu></app-left-menu>

            <div id="main" >
                <div class="row">
                    <div class="content-wrapper-before blue-grey lighten-5"></div>
                    <div class="col-sm-12">
					<div class="card mt-3">
                <div class="card-content p10">
				
                        <div class="panel panel-default">
                            <div class="panel-heading"><b>All Drivers </b>
                        </div>
                            <div class="panel-body responsive-table">
                                <table id="example" class="table table-striped table-bordered driver"  style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Driver ID</th>
                                            <th>Driver Name</th>
                                            <th>City</th>
                                            <th>Zip</th>
                                            <th>Phone</th>
                                            <th>License</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- <pre> {{ tripInfoData | json }} </pre> -->
                                        <tr *ngFor="let drvInfo of driverInfoData | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
                                            <!-- <tr> -->
                                            <td>{{ drvInfo.driverLoginID}}</td>
                                            <td>{{ drvInfo.driverName}}</td>
                                            <td>{{ drvInfo.city}}</td>
                                            <td>{{ drvInfo.zip}}</td>
                                            <td>{{ drvInfo.driverContactNo}}</td>
                                            <td>{{ drvInfo.drivingLicense}}</td>

                                            <td class="action">
                                                <a [routerLink]="['/driver-view',drvInfo.driverId]"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;
                                                <a [routerLink]="['/driver-edit',drvInfo.driverId]"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;
                                                <a (click)="removeDriver(drvInfo.driverLoginID)"><i class="fa fa-trash" aria-hidden="true"></i></a> 
                                                <!-- <a href="#deleteDriver" (click)="setDrivertData(drvInfo.driverLoginID, drvInfo.driverName)"><i class="fa fa-trash" aria-hidden="true"></i></a>  -->
                                            </td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="row">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
				</div>
                </div>
                <div class="row">
                    <div class="col-sm-12 users-list-filter">
                        <div class="fixed-action-btn">
                            <a [routerLink]="['/driver-new']"  class="btn-floating btn-large blue waves-effect waves-light ">
                              <i class="large material-icons">add</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Delete driver Modal -->
                        <div id="deleteDriver" class="modal" style="border-radius: 25px 25px 0px 0px;">
                            <div class="modal-content">
                            <h4>Delete {{driverName}} driver?</h4>
                            <p>Are you sure that you want to delete this driver? </p>
                            </div>
                            <div class="modal-footer">
                            <a (click)="removeDriver()" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
                            <a [routerLink]="['/driver']" class=" modal-action modal-close waves-effect waves-red btn-flat ">Decline</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
            

            