<app-header></app-header>
<app-left-menu></app-left-menu>
   <!-- BEGIN: Page Main-->
   <div>
   <div id="main" class="main-div">
    <div class="row">
      <div class="content-wrapper-before blue-grey lighten-5"></div>
      <div class="col s12">
        <div class="container">
          <div class="section section section-data-tables">
 


<!-- Page Length Options -->
<!-- <div class="row"> -->
<div class="col s12 m12 l12">
 <h5 class="heading-small mt-1 mb-0">Start/End Locations</h5>
</div>
<!-- </div> -->
<!-- <div class="row"> -->
<div class="col s12 m12 l12">
   <div id="Form-advance" class="card card card-default scrollspy">
     <div class="card-content">
       <h4 class="card-title">Trip Defaults</h4>
   <p class="mb-1">Choose default locations for the Create Trip screen from the location list below.</p>
       <!-- <form> -->
   <div class="row">
           <div class="col m6 s12">
            <label> Start *</label>
             
             <select class="FormControl" #startLocation style="display: block;" id="StartLocationId" (change)="setStartLocation(startLocation.value)">

               <option value="sl{{l.id}}" *ngFor="let l of locations" [selected]="l.id===StartLocation">{{l.locationName}}</option>
             </select>
             
           </div>
           <div class="col m6 s12">
            <label>End*</label>
            <select class="FormControl" #endtLocation style="display: block;" id="EndLocation" (change)="setEndLocation(endtLocation.value)">

                <option value="el{{l.id}}" *ngFor="let l of locations" [selected]="l.id===EndLocation">{{l.locationName}}</option>
              </select>
           </div>
         </div>
   <!-- </form> -->
     </div>
   </div>
  </div>
<!-- </div> -->
<!-- <div class="row"> -->
<div class="col s12 m12 l12">
   <div id="Form-advance" class="card card card-default scrollspy">
     <div class="card-content">
       <h4 class="card-title">Locations</h4>
   <p class="mb-1">Add locations which can be selected for trip start and end points.</p>
   
   <div class="right addlocationbtn" style="margin-top:-45px;">
    <a style="color:white" class="btn waves-effect waves-light gradient-45deg-indigo-blue btn modal-trigger" [routerLink]="['/add-location']">
    <i class="material-icons left">add</i> Add Location
    </a>
    </div>
   
   <div class="row">
     <div class="col s12">
       <table class="">
       <thead>
         <tr>
         <th>Name (Address)</th>
         <th>Action</th>
         </tr>
       </thead>
       <tbody>
        <tr *ngFor="let l of locations | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;">
         <td>{{l.locationName}} - {{l.locationAddress}}</td>
         <td>
          <a [routerLink]="['/edit-location',l.id]" class="ml-2 mr-2 modal-trigger" ><i class="material-icons blue-content">edit</i></a>
         <!-- <a class="ml-2 mr-2" href="#"><i class="material-icons red-content">delete_forever</i></a> -->
         </td>
         </tr>
         <!-- <tr>
         <td>Triveni IT - 71 Union Ave, Rutherford, NJ 07070, USA</td>
         <td>
         <a class="ml-2 mr-2 modal-trigger" href="#modal2"><i class="material-icons blue-content">edit</i></a>
         <a class="ml-2 mr-2" href="#"><i class="material-icons red-content">delete_forever</i></a>
         </td>
         </tr> -->
       </tbody>
       
       </table>
     </div>
   </div>
   <div class="row">
    <!-- <button class="btn waves-effect waves-light right" type="submit" name="action" (click)="updateDriver(dloginid, dname, dmobile, dlicence, demail, daddres, dcity, dzip)"><b>Save Driver</b>
      <i class="material-icons right" style="color: #007bff; font-weight: bold;">Save</i>
      </button> -->
      <button [disabled]="loading" class="btn btn-primary" (click)="updateSetting(StartLocation, EndLocation)">    
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
        Save    
      </button> 
   </div>
     </div>
   </div>
  </div>

<!-- </div> -->

</div>

</div>
<div class="content-overlay"></div>
</div>
</div>
   </div>
   </div>
  <!-- END: Page Main-->

  <div id="modal1" class="modal">
    <div class="modal-content">
        <div class="card-content">
            <h4 class="card-title">Add New Location</h4>
            <form>
              <div class="row">
                <div class="input-field col s12">
                  <input id="addlocation" type="text" class="validate">
                  <label for="addlocation">Location Name :</label>
                </div>
                <div class="input-field col s12">
                  <input id="addicon_prefix2" type="text" class="validate">
                  <label for="addicon_prefix2">Address</label>
                </div>
          <div class="col s12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26373352.115529306!2d-113.75585225594928!3d36.205390326877485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1589905126738!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
                <div class="input-field col s12 right">
                    <button class="btn cyan waves-effect waves-light" type="submit" name="action">Save</button>
                </div>
              </div>
            </form>
          </div>
    </div>
    </div>
    
    
   <div id="modal2" class="modal">
    <div class="modal-content">
        <div class="card-content">
            <h4 class="card-title">Edit Location</h4>
            <form>
              <div class="row">
                <div class="input-field col s12">
                  <input id="editlocation" type="text" class="validate">
                  <label for="editlocation">Location Name :</label>
                </div>
                <div class="input-field col s12">
                  <input id="editicon_prefix2" type="text" class="validate">
                  <label for="editicon_prefix2">Address</label>
                </div>
          <div class="col s12">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26373352.115529306!2d-113.75585225594928!3d36.205390326877485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited%20States!5e0!3m2!1sen!2sin!4v1589905126738!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
                <div class="input-field col s12 right">
                    <button class="btn cyan waves-effect waves-light" type="submit" name="action">Save</button>
                </div>
              </div>
            </form>
          </div>
    </div>
    </div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>

            
