.action {text-align:center;}
.action a{margin:0 5px; font-size:16px}
a{color: #4e7cf3}
.filter-panel{margin-bottom:15px}
.filter-panel a{padding:7px 25px}
.filter-panel .btn-default{background-color:#f4f4f4}
.main-div{
    margin-top:10px;padding-left: 260px ;
}