<app-header></app-header>
<app-left-menu></app-left-menu>    
    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
          <div class="content-wrapper-before blue-grey lighten-5"></div>
          <div class="col s12">
            <div class="container">
              <div class="section section section-data-tables">
     
  
  
  <!-- Page Length Options -->
  <div class="row">
      <div class="col s12 m12 l12">
        <div id="Form-advance" class="card card card-default scrollspy">
          <div class="card-content">
            <h4 class="card-title">Add Vehicle Type        </h4>
            <form [formGroup]="addVehicleTypeForm" (ngSubmit)="onSubmit()"> 
              <div class="row">
                <div class="col m4 s12 form-group">
                    <label for="TypeName">Vehicle Type *</label>
                  <input id="TypeName" type="text" formControlName="TypeName" class="form-control" tabindex="1" autofocus    
                  [ngClass]="{ 'is-invalid': submitted && addVehicleTypeForm.TypeName.errors }" >
                  <div *ngIf="submitted && addVehicleTypeFormControl.TypeName.errors" class="invalid-feedback">    
                    <div *ngIf="addVehicleTypeFormControl.TypeName.errors.required">Type Name is required</div>    
                  </div> 
                  
                </div>
                <div class="col m4 s12">
                    <label for="TypeDescription">Vehicle Description *</label>
                  <input id="TypeDescription" type="text" formControlName="TypeDescription" class="form-control" tabindex="1" autofocus    
                  [ngClass]="{ 'is-invalid': submitted && addVehicleTypeForm.TypeDescription.errors }" >
                  <div *ngIf="submitted && addVehicleTypeFormControl.TypeDescription.errors" class="invalid-feedback">    
                    <div *ngIf="addVehicleTypeFormControl.TypeDescription.errors.required">TypeDescription is required</div>    
                  </div> 
                  
                </div>
                <div class="col m4 s12">
                    <label> Status</label>
                  <!-- <select>
                      
                      <option value="1">Active</option>
                      <option value="2">Inactive</option>
                    </select> -->
                    <select class="FormControl" #vehicletypestatus style="display: block;" id="StartLocationId" (change)="setVehicleTypeStatus(vehicletypestatus.value)">

                        <!-- <option value="sl{{l.id}}" *ngFor="let l of locations">{{l.locationName}}</option> -->
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                        <!-- <option value="0">Rutherford</option>
                        <option value="1" selected>Triveni IT</option>
                        <option value="2">MacDohs Hobo</option>
                        <option value="3">Paintball Arena NJ</option> -->
                      </select>
                    
                </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">    
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
                Save    
              </button> 
          
              <!-- <div class="row">
                  <div class="input-field col s12">
                    <a href="#" class="btn cyan waves-effect waves-light right" >Save</a>
                  </div>
              </div> -->
            </form>
          </div>
        </div>
       </div>
      </div>
  
  </div>
  
            </div>
            <div class="content-overlay"></div>
          </div>
        </div>
      </div>
      <!-- END: Page Main-->
