@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
.no-padding{padding: 0 5px !important;}
.btn-custom{background-color: #00bcd4; padding: 7px 20px; margin-right:3px; color: #fff; text-decoration: none; border-radius: 3px; display: inline-block; font-size: 12px;}
.bue-dark{background-color: #2196f3!important; }
.lime.lighten-5 {
    background-color: #f9fbe7!important;
}
.filterTable .FormControl{
    width: 100%;
    border: solid 1px #ccc;
    padding: 5px;
    min-width: 120px;
}

.test-div{width: 75%; margin: 0px auto;}
.trip-summery {text-align: center; font-size: 13px;}

.filterTable label{font-size: 13px; margin-bottom: 5px; display: block;}
    /* Center tables for demo */
table.filterTable {
    font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 100%;
}

/* Default Table Style */
table.filterTable {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}



table.filterTable th,
table.filterTable td {
  padding: .5em;
  border: 1px solid lightgrey;
  margin: 5px;
}
/* Zebra Table Style */
[data-table-theme*=zebra] tbody tr:nth-of-type(odd) {
  background: rgba(0,0,0,.05);
}
[data-table-theme*=zebra][data-table-theme*=dark] tbody tr:nth-of-type(odd) {
  background: rgba(255,255,255,.05);
}
/* Dark Style */
[data-table-theme*=dark] {
  color: #ddd;
  background: #333;
  font-size: 12pt;
  border-collapse: collapse;
}
[data-table-theme*=dark] thead th,
[data-table-theme*=dark] tfoot th {
  color: #aaa;
  background: rgba(0255,255,255,.15);
}
[data-table-theme*=dark] caption {
  padding:.5em;
}
[data-table-theme*=dark] th,
[data-table-theme*=dark] td {
  padding: .5em;
  border: 1px solid grey;
}
input{
  height:2em!important;
  font-size: 13px !important;
  
}

.table-add-trip tbody tr td{font-size: 13px;}
.table-add-trip tbody tr th{font-size: 13px;}
select{
  height:2em!important;
  font-size: 13px;
  padding-left: 0;
}
.btn-custom{
padding: 7px 10px!important;
height:32px;
}

.no-bordered {border: 0 !important;}
.filter-sec {display:flex;
  flex-direction:row; }

.col-grid{flex:1 1 auto;
  border: 1px solid rgba(0,0,0,.12);
  text-align:left;

  padding:5px; }

  label {
    display: inline-block;
    margin-bottom: 0;
}

.width10{width: 10%;}
.width15{width: 15%;}
.no-padding{padding:0 !important}
.border-right-0{border-right: 0;}

@media only screen and (max-width: 768px) {
  .filter-sec {display:block; width: 100%; }
  .col-grid{width: 100%; border: 0;}
  

  table.table-responsive  {
    position: relative;
}

.col-grid .btn-custom{
  width: 100%;
  margin: 5px !important;
  text-align: center;
}

/* .col-grid .width60{width: 60%;}
.col-grid .width40{width: 34%;} */
.gridextra{display: flex; flex-wrap: wrap;}
.gridextra .lime{
  flex: inherit;
    border: solid 1px #bbb; 
    width: 43%;
    margin: 10px;
    padding: 10px !important;
}

}

/*Button Hover Color */
.btn-custom:hover{background: #1b6ec2;}
.btn-custom{transition: 0.2s all;}

/* Button Click Effect */
.btn-custom:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}