<div class="col-md-4 offset-md-4 mt-5">
  <div *ngIf="loginForm.errors?.invalidLogin" class="alert alert-danger mt-3 mb-0">
    Username or Password is incorrect.
  </div>
  <div class="card">
    <h5 class="card-header">DVS Admin Login</h5>
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">    
        <div class="form-group">    
          <label for="UserName">Username</label>    
          <input type="text" formControlName="UserName" class="form-control" tabindex="1" autofocus    
            [ngClass]="{ 'is-invalid': submitted && loginFormControl.UserName.errors }" />    
          <div *ngIf="submitted && loginFormControl.UserName.errors" class="invalid-feedback">    
            <div *ngIf="loginFormControl.UserName.errors.required">Username is required</div>    
          </div>    
        </div>    
        <div class="form-group">    
          <label for="Password">Password</label>    
          <input type="password" formControlName="Password" class="form-control" tabindex="2"    
            [ngClass]="{ 'is-invalid': submitted && loginFormControl.Password.errors }" />    
          <div *ngIf="submitted && loginFormControl.Password.errors" class="invalid-feedback">    
            <div *ngIf="loginFormControl.Password.errors.required">Password is required</div>    
          </div>    
        </div>    
        <button [disabled]="loading" class="btn btn-primary">    
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
          Login    
        </button>    
      </form>  
    </div>
  </div>
</div> 


