<app-header></app-header>
<app-left-menu></app-left-menu>    
    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
          <div class="content-wrapper-before blue-grey lighten-5"></div>
          <div class="col s12">
            <div class="container">
              <div class="section section section-data-tables">
     
  
  
  <!-- Page Length Options -->
  <div class="row">
      <div class="col s12 m12 l12">
        <div id="Form-advance" class="card card card-default scrollspy">
          <div class="card-content">
            <h4 class="card-title">Add Vehicle Type        </h4>
            <form [formGroup]="editVehicleTypeForm" (ngSubmit)="onSubmit()"> 
              <div class="row">
                <div class="col m4 s12 form-group">
                    <label for="TypeName">Vehicle Type *</label>
                  <input id="TypeName" type="text" formControlName="TypeName" class="form-control" tabindex="1" autofocus    
                  [ngClass]="{ 'is-invalid': submitted && editVehicleTypeForm.TypeName.errors }" >
                  <div *ngIf="submitted && editVehicleTypeFormControl.TypeName.errors" class="invalid-feedback">    
                    <div *ngIf="editVehicleTypeFormControl.TypeName.errors.required">Type Name is required</div>    
                  </div> 
                  
                </div>
                <div class="col m4 s12 form-group">
                    <label for="TypeDescription">Vehicle Description *</label>
                  <input id="TypeDescription" type="text" formControlName="TypeDescription" class="form-control" tabindex="1" autofocus    
                  [ngClass]="{ 'is-invalid': submitted && editVehicleTypeForm.TypeDescription.errors }" >
                  <div *ngIf="submitted && editVehicleTypeFormControl.TypeDescription.errors" class="invalid-feedback">    
                    <div *ngIf="editVehicleTypeFormControl.TypeDescription.errors.required">TypeDescription is required</div>    
                  </div> 
                  
                </div>
                <div class="col m4 s12 form-group">
                    <label> Status</label>
        
                    <select class="FormControl" #vehicletypestatus style="display: block;" formControlName="IsActive" (change)="setVehicleTypeStatus(vehicletypestatus.value)">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                   
                      </select>
                    
                </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">    
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>    
                Save    
              </button> 
          
              <!-- <div class="row">
                  <div class="input-field col s12">
                    <a href="#" class="btn cyan waves-effect waves-light right" >Save</a>
                  </div>
              </div> -->
            </form>
          </div>
        </div>
       </div>
      </div>
  
  </div>
  
            </div>
            <div class="content-overlay"></div>
          </div>
        </div>
      </div>
      <!-- END: Page Main-->