<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<app-header></app-header>
<app-left-menu></app-left-menu>
<div id="main" class="main-div">
  <div class="row">
    <div class="content-wrapper-before blue-grey lighten-5"></div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-content p10">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Customer Invoices</b></div>
            <div class="panel-body">
              <div class="filter-panel">
                <div class="row">
                  <div class="col-sm-2">
                    <p>Start Date : </p><input type="date" class="form-control" [(ngModel)]="StartDate">
                  </div>
                  <div class="col-sm-2">
                    <p>End Date : </p><input type="date" class="form-control" [(ngModel)]="ToDate">
                  </div>
                  <div class="col-sm-8 responsive-button">
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;"
                      (click)="todayinvoiceList()">Today</button>
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;"
                      (click)="YesterdayinvoiceList()">Yesterday</button>
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;"
                      (click)="ThisWeekInvoiceList()">This Week</button>
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;"
                      (click)="LastWeekInvoiceList()">Last Week</button>
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;"
                      (click)="LastMonthInvoiceList()">Last Month</button>
                  </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                  <div class="col-sm-3">
                    <p>City : </p><select class="form-control" [(ngModel)]="City">
                      <option *ngFor="let city of Citylist" [value]="city.city">
                        {{city.city}}</option>
                    </select>
                  </div>
                  <div class="col-sm-3">
                    <p>Invoice No : </p><input type="text" class="form-control" [(ngModel)]="InvoiceNo">
                  </div>
                  <div class="col-sm-3">
                    <p>Status : </p><select class="form-control" [(ngModel)]="status">
                      <option value="0">All</option>
                      <option value="1">Sent to Office</option>
                      <option value="2">Not Submitted</option>
                      <option value="3">Approved</option>
                      <option value="4">Rejected</option>
                    </select>
                  </div>
                  <div class="col-sm-3 searchReset">
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(115, 178, 221); color: white; margin-right: 10px;"
                      (click)="search()">Search</button>&nbsp;
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(228, 35, 67); color: white; margin-right: 10px;"
                      (click)="reset()">Reset</button>
                  </div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                  <div class="col-sm-3 downloadbtnn">
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;" (click)="exportexcel()">Excel</button>&nbsp;
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;"
                      (click)="downloadAsPDF()">PDF</button> &nbsp;
                    <button mat-button class="btn btn-dark"
                      style="background-color:rgb(52, 90, 214); color: white; margin-right: 10px;" (click)="downloadCSV()">CSV</button>
                  </div>
                </div>
              </div>
              <div>&nbsp;</div>
              <div class="responsive-table">
              <table id="example" class="table table-striped table-bordered" style="width:100%" #example>
                <thead>
                  <tr>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Order #</th>
                    <th>Invoice #</th>
                    <th>City</th>
                    <th>Order Date</th>
                    <th>Trip #</th>
                    <th>Driver #</th>
                    <th>Status</th>
                    <th>Quality Check</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arinv of ARInvoiceList | paginate: {itemsPerPage:15,currentPage: p}; let i = index ;"
                    id="content">
                    <td>{{arinv.customerNo}}</td>
                    <td>{{arinv.custName}}</td>
                    <td>{{arinv.orderNo}}</td>
                    <td>{{arinv.invoiceNo}}</td>
                    <td>{{arinv.city}}</td>
                    <td>{{arinv.orderDate}}</td>
                    <td>{{arinv.tripID}}</td>
                    <td>{{arinv.driverID}}</td>
                    <td>{{arinv.status}} &nbsp;
                      <a *ngIf="arinv.status==='Sent to Office'" target="_blank" href="{{arinv.invoicePDF}}">View</a>
                    </td>
                    <td class="action">
                      <!-- <a target="_blank" href="{{arinv.invoicePDF}}"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp; -->
                      <a *ngIf="arinv.status==='Sent to Office' || arinv.status==='Approved' || arinv.status==='Rejected'"
                        aria-hidden="true" style="width: 50px;" (click)="InvoiceApproval(arinv.invoiceNo,'Approved')">
                        <i class="fa fa-check pointer" style="color: rgb(123, 230, 123);"></i>
                      </a>&nbsp;

                      <a *ngIf="arinv.status==='Sent to Office' || arinv.status==='Approved' || arinv.status==='Rejected'"
                        (click)="openModal('custom-modal-1',arinv.invoiceNo,'Rejected')" class="invoice-action-edit"
                        style="width: 50px; ">
                        <i class="fa fa-window-close pointer" style="color: rgb(231, 19, 19);"></i>
                      </a>
                      &nbsp;
                      <a (click)="openInvoiceDetails('custom-modal-2',arinv.invoiceNo,arinv.poNumber,arinv.basketID,arinv.brokerID,arinv.orderAmount,arinv.checkerID,arinv.stopID,arinv.truckID)"
                        class="invoice-action-edit" style="width: 50px; ">
                        <i class="fa fa-eye pointer" style="color: rgb(75, 162, 216);"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
</div>
            </div>
            <div class="row">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<jw-modal id="custom-modal-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card card-primary mb-2">
        <div class="card-header" style="background-color: lightgrey;">
          <h3 class="card-title">Reject Invoice</h3>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card-body">
          <h4> Invoice Number : {{Invoice_Number}}</h4>
          <div class="row floating-labels mt-5">
            <div class="col-sm-12">
              <div class="form-group  mb-5 focused">
                <input type="text" class="form-control" id="RejectReason" [(ngModel)]="RejectReason" required>
                <span class="bar"></span>
                <label for="RejectReason">Reject reason / comment</label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer text-right">
        <div class="col s12 m12" style="size: 11px; color: red;"></div>
        <div class="col s12 m12" style="size: 11px; color: green; font-weight: bold;"></div>
        <button mat-button [disabled]="invoiceRejected" class="btn btn-dark"
          style="background-color:lightcoral; color: white; margin-right: 10px;"
          (click)="RejectInvoice()">Reject</button>
        <button mat-button class="btn btn-dark" style="background-color:rgb(95, 93, 93);"
          (click)="closeModal('custom-modal-1');">Close</button>
      </div>
    </div>
  </div>
</jw-modal>


<jw-modal id="custom-modal-2">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="card card-primary mb-2">
        <div class="card-header" style="background-color: lightgrey;">
          <h3 class="card-title">Invoice Details</h3>
        </div>
      </div>

      <div class="col-md-12">
        <div class="card-body">
          <h4> Invoice Number : {{Inv_Number}}</h4>
          <div class="row floating-labels mt-5">
            <div class="col-sm-12">
              <div class="table-responsive mt-2">
                <table id="example" class="table table-bordered  no-wrap font-16 dark-text">
                  <tbody>
                    <tr>
                      <td><b>PO Number:
                        </b></td>
                      <td>{{ponumber}}</td>
                    </tr>
                    <tr>
                      <td><b>Basket ID :
                        </b></td>
                      <td>{{BasketID}}</td>
                    </tr>
                    <tr>
                      <td><b>Order Amount :</b></td>
                      <td>{{OrderAmount}}</td>
                    </tr>
                    <tr>
                      <td><b>Broker Id:</b></td>
                      <td>{{BrokerId}}</td>
                    </tr>
                    <tr>
                      <td><b>Checker ID</b></td>
                      <td>{{CheckerID}}</td>
                    </tr>

                    <tr>
                      <td><b>Truck No :</b></td>
                      <td>{{truckNo}}</td>
                    </tr>
                    <tr>
                      <td><b>Stop Id:</b></td>
                      <td>{{stopId}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer text-right">
        <div class="col s12 m12" style="size: 11px; color: red;">
        </div>
        <div class="col s12 m12" style="size: 11px; color: green; font-weight: bold;">
        </div>
        <button mat-button class="btn btn-dark" style="background-color:rgb(95, 93, 93);"
          (click)="closeModal('custom-modal-2');">Close</button>
      </div>
    </div>
  </div>
</jw-modal>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>