.pointer {cursor: pointer;}

@media only screen and (max-width: 600px) {
.responsive-button button{width: 100%; margin-bottom: 10px;}
.searchReset button{width: 45%; margin-top: 15px;}
.downloadbtnn button{width: 28%; }
}