<title>DVS DRIVER</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- StyleSheet -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
<!-- Font Awosome -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<!-- </head>
<body> -->

<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main">
    <div class="row">
      <!-- <div class="content-wrapper-before blue-grey "></div> -->
      <div class="col s12">
        <div class="container">
          <div class="section">
 

              <!-- Driver Registration Form -->
  <div class="col s12 m12 l12">
      <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
            <h4 class="card-title"><b>View Driver Details</b></h4>
                <form  #form="ngForm" class="col s12 m12 l12" style="font-size: 16px;" novalidate>

                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Login ID: </b> {{dloginid}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Name: </b>{{dname}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Mobile: </b>{{dmobile}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver License: </b>{{dlicence}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Email: </b> {{demail}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Driver Address: </b> {{daddres}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>City: </b> {{dcity}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Zip: </b> {{dzip}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle Name: </b> {{vehicleName}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle Capacity: </b> {{vehicleCapacity}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle No: </b> {{vehicleNo}} 
                    </div>
                </div>
                <div class="row">
                    <div class="card-panel teal lighten-2 col s5 m5 l5" *ngIf="driverAdd" >{{info}}</div>
                    <a md-button class="btn right waves-effect waves-light" [routerLink]="['/driver']" style="color: #007bff; font-weight: bold;"><i class="material-icons left">keyboard_return</i>Back</a>
                </div>
            
                </form>
                
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
            

            
