<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-light navbar-full sidenav-active-rounded">
  <div class="brand-sidebar gradient-45deg-indigo-blue">
    <h1 class="logo-wrapper"><a class="brand-logo darken-1" href="#"><img
          src="./assets/images/logo/materialize-logo.png" alt="materialize logo" /><span
          class="logo-text hide-on-med-and-down">DVS Oms Driver</span></a></h1>
  </div>
  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out"
    data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="bold">
      <!-- <a #dashboard [ngClass]="isDashBoard ? 'active gradient-45deg-indigo-blue':null" class="waves-effect waves-cyan"
        routerLink="/dashboard" (click)="dashbordActiveClass();">
        <i class="material-icons">settings_input_svideo</i><span class="menu-title"
          data-i18n="Dashboard">Dashboard</span></a> -->

      <a #dashboard class="waves-effect waves-cyan" routerLink="/dashboard">
        <i class="material-icons">settings_input_svideo</i><span class="menu-title"
          data-i18n="Dashboard">Dashboard</span></a>
    </li>
    <!-- <li class="bold" style="height: 40px;">
      <a class="waves-effect waves-cyan" routerLink="/all-trip"><i class="material-icons">settings_input_svideo</i><span class="menu-title" data-i18n="All Trip">All Trip</span></a>.
    </li>
    <li class="bold" style="height: 40px;">
      <a class="waves-effect waves-cyan" routerLink="/add-trip"><i class="material-icons">radio_button_unchecked</i><span class="menu-title" data-i18n="Pricing">Add New Trip</span></a>.
    </li> -->

    <li class="bold">
      <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i
          class="material-icons">near_me</i><span class="menu-title" data-i18n="eCommerce"
          (click)="toggleShow()">Trip</span></a>
      <div class="collapsible-body" style="display:block">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion" *ngIf="isShown">
          <li>
            <a #alltrips routerLink="/all-trip">
              <i class="material-icons">radio_button_unchecked</i><span data-i18n="Products Page">All Trips</span></a>
          </li>
          <li>
            <a #addtrip routerLink="/add-trip"><i class="material-icons">radio_button_unchecked</i><span
                data-i18n="Pricing">Add
                New Trip</span></a>
          </li>
          <li>
            <a #triptracking routerLink="/trip-tracking"><i class="material-icons">radio_button_unchecked</i><span
                data-i18n="Pricing">Trip Tracking</span></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="bold ">
      <a #customer class="waves-effect waves-cyan " routerLink="/customer"><i
          class="material-icons">person_outline</i><span class="menu-title" data-i18n="User">Customer</span></a>
    </li>
    <li class="bold">
      <a #order class="waves-effect waves-cyan " routerLink="/order"><i
          class="material-icons">add_shopping_cart</i><span class="menu-title" data-i18n="User">Order</span></a>
    </li>
    <li class="bold" style="height: 40px;">
      <a #zone class="waves-effect waves-cyan" routerLink="/zone"><i
          class="material-icons">radio_button_unchecked</i><span class="menu-title" data-i18n="Pricing">Zone</span></a>.
    </li>
    <li class="bold">
      <a #salesman class="waves-effect waves-cyan" routerLink="/salesman"><i class="material-icons">face</i><span
          class="menu-title" data-i18n="User">Salesman</span></a>
    </li>
    <li class="bold" style="height: 40px;">
      <a #driver class="waves-effect waves-cyan" routerLink="/driver"><i
          class="material-icons">radio_button_unchecked</i><span class="menu-title"
          data-i18n="Pricing">Driver</span></a>.
    </li>
    <li>
      <a #vehicletype class="waves-effect waves-cyan" routerLink="/vehicletype"><i
          class="material-icons">radio_button_unchecked</i><span data-i18n="Pricing">Vehicle Types</span></a>
    </li>
    <li>
      <a #arinvoice class="waves-effect waves-cyan" routerLink="/arinvoice"><i
          class="material-icons">radio_button_unchecked</i><span data-i18n="Car">AR Invoice</span></a>
    </li>
    <li>
      <a #dvsinvoice class="waves-effect waves-cyan" routerLink="/dvsInvoice"><i
          class="material-icons">radio_button_unchecked</i><span data-i18n="Car">DVS Invoice</span></a>
    </li>
    <li>
      <a #vehicle class="waves-effect waves-cyan" routerLink="/vehicle"><i
          class="material-icons">radio_button_unchecked</i><span data-i18n="Car">Vehicle</span></a>
    </li>
    <li>
      <a #settings class="" routerLink="/dvssetting"><i class="material-icons">settings</i><span
          data-i18n="Products Page">Settings</span></a>
    </li>
    <!-- <li class="bold active"> -->
    <!-- <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)"><i class="material-icons">person_pin</i><span class="menu-title" data-i18n="eCommerce">Drivers</span></a> -->
    <!-- <div class="collapsible-body"> -->
    <!-- <ul class="collapsible collapsible-sub" data-collapsible="accordion"> -->
    <!-- <li> -->
    <!-- <a class="" href="all-driver.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Products Page">All Drivers</span></a> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a href="add-driver.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Products Page">Add Driver</span></a> -->
    <!-- </li> -->
    <!-- <li> -->
    <!-- <a href="vehicle-type.html"><i class="material-icons">radio_button_unchecked</i><span data-i18n="Pricing">Vehicle Types</span></a> -->
    <!-- </li> -->
    <!-- </ul> -->
    <!-- </div> -->
    <!-- </li> -->



    <!-- <li class="bold"> -->
    <!-- <a class="waves-effect waves-cyan " href="zone.html"><i class="material-icons">all_out</i><span class="menu-title" data-i18n="User">Zone</span></a> -->
    <!-- </li> -->

    <!-- <li class="bold"> -->
    <!-- <a class="" href="salesman.html"><i class="material-icons">face</i><span class="menu-title" data-i18n="User">Salesman</span></a> -->
    <!-- </li> -->
    <!-- <li class="bold"> -->
    <!-- <a class="active gradient-45deg-indigo-blue " href="trip-settings.html"><i class="material-icons">settings</i><span class="menu-title" data-i18n="User">Settings</span></a> -->
    <!-- </li> -->

  </ul>
  <div class="navigation-background"></div><a
    class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
    href="#" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>