
<app-header></app-header>
<app-left-menu></app-left-menu>

<div id="main">
    <div class="row">
      <!-- <div class="content-wrapper-before blue-grey "></div> -->
      <div class="col s12">
        <div class="container">
          <div class="section">
 

              <!-- Driver Registration Form -->
  <div class="col s12 m12 l12">
      <div id="Form-advance" class="card card card-default scrollspy">
        <div class="card-content">
            <h4 class="card-title"><b>View Driver Details</b></h4>
                <form  #form="ngForm" class="col s12 m12 l12" style="font-size: 16px;" novalidate>

                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle NO: </b> {{VehicleNO}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle Type: </b>{{VehicleTypeText}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle Name: </b>{{VehicleName}} 
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Vehicle Capacity: </b>{{VehicleCapacity}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <b>Status: </b> {{VehicleStatus}} 
                    </div>
                </div>
                <div class="row">
                    <div class="card-panel teal lighten-2 col s5 m5 l5" *ngIf="vehicleAdd" >{{info}}</div>
                    <a md-button class="btn right waves-effect waves-light" [routerLink]="['/vehicle']" style="color: #007bff; font-weight: bold;"><i class="material-icons left">keyboard_return</i>Back</a>
                </div>
            
                </form>
                
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</div>

            <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
                <p style="color: white">Please Wait. </p>  
            </ngx-spinner>
            

            
